<p id="notice"><%= notice %></p>
<h2>Your Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

<a href="http://bonsai-box.myshopify.com/cart/917108355:1?attributes[user-id]=1&attributes[cart-id]=1">Buy Now</a>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
