<div class="row">
  <div class="large-12 small-12 columns cart">
    <div class="cart-title">Your Cart <%= button_to 'Empty cart', @cart, class: "empty-cart", :method => :delete, :confirm => 'Are you sure?' %></div>
    <% if @cart.line_items.empty? %>
      <p class="empty-cart-message">Your cart is empty</p>
    <% else %>
      <table>
        <thead>
          <tr>
            <td>Item</td>
            <td></td>
            <td>Unit Price</td>
            <td>Quantity</td>
            <td>Total</td>
          </tr>
        </thead>
        <% @cart.line_items.each do |item| %>
          <tr>
            <% if item.variant != nil %>
              <td class="item-image"><img src="<%= item.variant.image_url %>" style="height: 100px; width: 100px;"/></td>
              <td class="item-description"><%= item.variant.title %></td>
              <td class="item-price"><%= number_to_currency(item.variant.price) %></td>
              <td class="item-quantity"><%= item.quantity %>&times;</td>
              <td class="item-total"><%= number_to_currency(item.quantity*item.variant.price) %></td>
              <!-- <td><%= button_to 'Remove item', item, :method => :delete %></td> -->
            <% else %>
            <h3><%=item.product.shopify_variant_id%></h3>
              <td class="item-image"><img src="<%= item.product.images.first.shopify_url %>" style="height: 100px; width: 100px;"/></td>
              <td class="item-description"><%= item.product.title %></td>
              <td class="item-price"><%= number_to_currency(item.product.price) %></td>
              <td class="item-quantity"><%= item.quantity %>&times;</td>
              <td class="item-total"><%= number_to_currency(item.quantity*item.product.price) %></td>
              <!-- <td><%= button_to 'Remove item', item, :method => :delete %></td> -->
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
    <div class="cart-buttons">
      <div class="sub-total">Subtotal <%= number_to_currency(@cart.total_price) %></div>
      <%= @shopify_cart_url.html_safe %>
    </div>

    <div class="gift-options">
      <p>Is this a gift?</p>
      <textarea cols="40" rows="5" placeholder="Enter a message to be delivered with your box"></textarea>
    </div>
  </div>
</div>