<div class="product-page">
  <!-- Hero Section -->
  <div class="row product-hero">
    <div class="large-6 columns product-gallery">
      <div class="video"></div>
      <ul class="clearfix">
        <% @product.images.each do |img| %>
          <li><img src="<%= img.shopify_url %>"/></li>
        <% end %>
      </ul>
    </div>
    <div class="large-6 columns product-info">
      <h1 id="cd-intro-tagline"><%= @product.title %></h1>
      <h3><%= number_to_currency(@product.price) %></h3>
      <p><%= @product.description %></p>
      <ul>
        <% @product.ingredients.each do |ing| %>
          <li><%= ing.name %></li>
        <% end %>
      <%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
    </div>
  </div>

  <!-- Secondary Nav -->
  <%= render 'layouts/secondary_nav' %>

  <!-- Ingredients -->
  <div class="ingredients row cd-section">
    <div class="large-12 columns">
      <ul>
        <% @product.ingredients.each do |ing| %>
          <li><%= ing.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Video Preview -->
  <div class="video-preview row cd-section">
    <div class="large-12 columns">
      <p>Video here</p>
    </div>
  </div>

  <!-- Instructor -->
  <div class="instructor row cd-section">
    <div class="large-12 columns">
      <p>Instructor</p>
      <p><%= @product.metadata["instructor"] %></p>
      <p><%= @product.metadata["instructor_description"] %></p>
    </div>
  </div>

  <!-- Syllabus -->
  <div class="syllabus row cd-section">
    <div class="large-12 columns">
      <p>What you'll learn</p>
    </div>
  </div>

  <!-- Photo Grid -->
  <div class="photo-grid row cd-section">
    <div class="large-12 columns">
      <p>Photo Grid</p>
    </div>
  </div>

  <!-- Reviews -->
  <div class="reviews row cd-section">
    <div class="large-12 columns">
      <p>Reviews here.</p>
    </div>
  </div>


</div>


  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>