<div class="product-page">
  <!-- Hero Section -->
  <div class="row product-hero product-wrapper cd-intro">
      <div class="product-image large-6 columns">
        <%= image_tag('box.png') %>
      </div>
      <div class="product-info-inner large-6 columns">
        <h1 id="cd-intro-tagline"><%= @product.title %></h1>
        <h3><%= number_to_currency(@product.price) %></h3>
        <p><%= @product.description %></p>
        <ul class="clearfix">
          <% @product.ingredients.each do |ing| %>
            <li><%= ing.name %></li>
          <% end %>
        </ul>
        <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: "cd-btn" %>
      </div>
  </div>

  <!-- Secondary Nav -->
  <%= render 'layouts/secondary_nav' %>

  <!-- Ingredients -->
  <div class="row cd-section" id="ingredients">
    <ul class="ingredient-slider" data-orbit>
      <% @product.ingredients.each do |ing| %>
        <li>
          <div class="large-6 columns ingredient-image"><img src="<%= ing.image_url %>"/></div>
          <div class="large-6 columns ingredient-description">
            <h3><%= ing.name %></h3>
            <p>
              <%= ing.description %>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Video Preview -->
  <div class="row cd-section full-width" id="preview-video">
    <div class="large-12 large-centered columns">
      <div class="large-6 medium-6 small-12 video-wrapper columns">
        <div class="video">
          <iframe width="400" height="245" src="//www.youtube.com/embed/UxRrhYVT1Sw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="large-6 medium-6 small-12 video-description columns">
        <h3>Video Teaser</h3>
        <p>Watch a short teaser of Josh Littlefield showing you how to do stuff. This should get your really excited about the box and make you want to buy it.</p>
      </div>
    </div>
  </div>

  <!-- Instructor -->
  <div class="row cd-section" id="instructor">
    <div class="large-6 columns instructor-description">
      <h3><%= @product.instructor_name %></h3>
      <p><%= @product.instructor_description %></p>
    </div>
    <div class="large-6 columns instructor-image">

    </div>
  </div>

  <div class="row cd-section" id="topics">
    <div class="large-12 columns">
      <% @product.courses.first.lessons.each do |lesson| %>
        <p><%= lesson.name %></p>
        <p><%= lesson.short_description %></p>
      <% end %>
    </div>
  </div>

  <div class="row cd-section full-width" id="story">
    <div class="story-description large-4 medium-7 small-12 columns right">
      <h1><%= @product.story_headline %></h1>
      <p><%= @product.story_description %></p>
    </div>
  </div>

  <!-- Photo Grid -->
  <div class="row cd-section" id="photo-grid" data-layout="221">
    <div class="large-12 columns">
      <% @product.images.each do |img| %>
        <img width="500" height="375" class="box-photo" src="<%= img.shopify_url %>"/>
      <% end %>
    </div>
  </div>

  <!-- Reviews -->
  <div class="full-width row cd-section" id="reviews">
    <h2 class="centered-text">See what these awesome people have to say!</h2>
    <div class="large-4 columns testimonial">
          <div class="quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
          </div>
          <div class="student">
            <div class="photo"> </div>
            <p>John Doe</p>
            <p>Important person, some Company</p>
          </div>
    </div>
    <div class="large-4 columns testimonial">
      <div class="quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.  </p>
      </div>
      <div class="student">
        <div class="photo"> </div>
        <p>John Doe</p>
        <p>Important person, some Company</p>
      </div>
    </div>
    <div class="large-4 columns testimonial">
      <div class="quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.  </p>
      </div>
      <div class="student">
        <div class="photo"> </div>
        <p>John Doe</p>
        <p>Important person, some Company</p>
      </div>
    </div>
  </div>



</div>