<!-- Hero Section -->
<div class="product-hero-wrap">

  <div class="product-hero row">
    <!-- Hero Image -->
    <div class="large-8 columns product-hero-image">

    </div>

    <!-- Hero Info -->
    <div class="product-hero-info-wrap">
      <div class="large-4 columns product-hero-info">
        <h1><%= @product.title %></h1>
        <%= simple_form_for(@line_item) do |f| %>
          <% @product.variants.sort_by{|variant| variant.price}.each do |variant| %>
            <div class="product-variant clearfix">
              <div class="input-wrapper">
                <%= radio_button_tag(:shopify_variant_id, variant.shopify_variant_id, checked: true) %>
              </div>
              <div class="variant-info">
                <span><%= variant.title %></span>
                <span class="variant-description"><%= variant.description %></span>
              </div>
              <div class="price-wrapper">
                <span class="price"><%= number_to_currency(variant.price, precision: 0) %></span>
              </div>
            </div>
          <% end %>
          <%= f.input :product_id, as: :hidden, input_html: { value: @product.id } %>
          <%= f.button :submit, 'Start Brewing', class: "check-out" %>
        <% end %>
      </div>
    </div>

  </div>

</div>