<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li class="nav-right nav-cart"><i class="fa fa-shopping-cart"></i><%= link_to "Cart", current_cart_path %></li>
  <li class="nav-right"><%= link_to 'Account', dashboard_path %></li>
  <li class="nav-right"><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li class="nav-right nav-cart"><i class="fa fa-shopping-cart"></i><%= link_to "Cart", current_cart_path %></li>
  <!-- Make it blue if there's an item in the cart to draw attention -->
  <li class="nav-right"><%= link_to 'Tour', new_user_session_path %></li>
  <li class="nav-right"><%= link_to 'Login', new_user_session_path %></li>

<% end %>
