<%# navigation styled for Zurb Foundation 5 %>
<!-- <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav> -->
<div class="nav-wrapper">
  <nav class="nav-collapse">
    <ul class="clearfix">
      <li class="nav-left"><%= link_to 'Home', root_path %></li>
      <li class="nav-left"><%= link_to 'About', page_path('about') %></li>
      <li class="nav-left"><%= link_to 'Boxes', page_path('boxes') %></li>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </nav>
  <div class="logo"></div>
</div>
