<div>
      <%= form_for(resource, :as => resource_name, :class => "register-form", :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
        <div class="row">
          <div class="large-6 small-6 columns">
            <label><span>First Name</span>
              <%= f.text_field :first_name, :autofocus => true, placeholder: "Your first name" %>
            </label>
          </div>
          <div class="large-6 small-6 columns">
            <label><span>Last Name</span>
              <%= f.text_field :last_name, :autofocus => true, placeholder: "Your last name" %>
            </label>
          </div>
          <div class="large-12 small-12 columns">
            <label><span>Email Address</span>
              <%= f.email_field :email, placeholder: "Your email address" %>
            </label>
          </div>
          <div class="large-12 small-12 columns">
            <label><span>Box Code (Optional)</span>
              <input type="text" placeholder="3141592653"/>
            </label>
          </div>
          <div class="large-6 small-6 columns">
            <label><span>Password</span>
              <%= f.password_field :password, placeholder: "Password (min 8 characters)" %>
            </label>
          </div>
          <div class="large-6 small-6 columns">
            <label><span>Confirm Password</span>
              <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
            </label>
          </div>
        </div>
      <% end %>
      <i class="md-close"></i>
      <div class="button-wrapper clearfix">
        <button class="btn btn-7 btn-7a twitter">Connect Twitter</button>
        <%# button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
        <button class="btn btn-7 btn-7a register-submit">Create Account</button>
      </div>
      <p>Already have an account? <%= link_to "Sign In", new_user_session_path %> </p>
    </div>
