<!-- Secondary Nav -->
  <div class="cd-secondary-nav">
    <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
    <nav>
      <ul>
        <li class="nav-ingredients">
          <a href="#ingredients">
            <b>Ingredients</b>
            <span><%= render 'svgs/box' %></span>
          </a>
        </li>
        <li class="nav-preview-video">
          <a href="#preview-video">
            <b>Video</b>
            <span><%= render 'svgs/play' %></span>
          </a>
        </li>
        <li class="nav-instructor">
          <a href="#instructor">
            <b>Instructor</b>
            <span><%= render 'svgs/instructor' %></span>
          </a>
        </li>
        <li class="nav-syllabus">
          <a href="#syllabus">
            <b>Syllabus</b>
            <span><%= render 'svgs/syllabus' %></span>
          </a>
        </li>
        <li class="nav-photo-grid">
          <a href="#photo-grid">
            <b>Photos</b>
            <span><%= render 'svgs/photo' %></span>
          </a>
        </li>
        <li class="nav-reviews">
          <a href="#reviews">
            <b>Reviews</b>
            <span><%= render 'svgs/heart' %></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>