<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bonsai" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Bonsai" %>">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @classes %>">
    <div class="page-wrap">
      <%= render 'layouts/header' unless @header == false %>
      <main role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </main>
      <%= render 'layouts/modal' %>
      <%= render 'layouts/cart' %>
    </div>
    <%= render 'layouts/footer' unless @header == false %>
  </body>
</html>
